.post-preview
	.row

		.col-lg-5.col-md-5
			a(href= post.link.replace( 'http://www.wired.com/', '' ) )
				.thumb!= post.featured_image.content

		.col-lg-7.col-md-7
			a(href= post.link.replace( 'http://www.wired.com/', '' ) )
				h2.post-title!= post.title
			.post-excerpt!= post.excerpt
			p.post-meta= 'Posted by ' + post.author.name + ' on ' + post.date

	hr