nav(class='navbar navbar-default navbar-custom navbar-fixed-top')
	.container-fluid
		.navbar-header.page-scroll
			button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(class="navbar-brand" href="/") WIRED

		<!-- Collect the nav links, forms, and other content for toggling -->
		//- .collapse.navbar-collapse#bs-example-navbar-collapse-1
		//- 	ul.nav.navbar-nav.navbar-right
		//- 		li
		//- 			a(href="index.html") Home
		//- 		li
		//- 			a(href="about.html") About
		//- 		li
		//- 			a(href="post.html") Sample Post
		//- 		li
		//- 			a(href="contact.html") Contact