extends layout

block content
	.container
		.row
			.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1

				img(src=post._embedded['wp:featuredmedia'][0].source_url).img-responsive

				.post-excerpt!= post.content.rendered
				- var time = moment( post.date ).format('MMMM Do YYYY, [at] h:mm a');
				p.post-meta.text-muted.small= 'Posted by ' + post._embedded.author[0].name + ' on ' + time

				hr